CREATE TABLE rag_schema.rag_traces (
    id bigint NOT NULL,
    trace_uuid uuid NOT NULL,
    user_query_hash text,
    created_at timestamp with time zone DEFAULT now(),
    device text,
    system_prompt text,
    user_prompt text,
    llm_response text,
    retrieved_docs jsonb,
    reranked_docs jsonb,
    timing_info jsonb,
    llm_model_info jsonb,
    embedding_model_info jsonb,
    reranking_model_info jsonb,
    chunking_info jsonb,
    success boolean DEFAULT true,
    error_message text
)
;